// TODO: Fix next line
// /* stylelint-disable custom-property-pattern */
// Colors
$colorWhite: #f8fcff;
$colorBlack: #070606;
$colorWaterBlue: #256d7b;
$colorSuccess: #1d8750;
$colorError: #c32323;

// Fonts
$fontNunito: var(--nunitoFont);
$fontRubik: var(--rubikFont);
