@import '/src/global/styles/variables';
@import '/src/global/styles/colors';
@import '/src/shared/utils/css/crop-line-height';

@mixin align {
  &_align {
    &_left {
      text-align: left;
    }

    &_center {
      text-align: center;
    }

    &_right {
      text-align: right;
    }
  }
}

@mixin transform {
  &_transform {
    &_uppercase {
      text-transform: uppercase;
    }

    &_lowercase {
      text-transform: lowercase;
    }

    &_capitalize {
      text-transform: capitalize;
    }

    &_none {
      text-transform: none;
    }
  }
}

@mixin fonts {
  &_font {
    &_nunito {
      font-family: $fontNunito;
    }

    &_rubik {
      font-family: $fontRubik;
    }
  }
}

@mixin cropLineHeight {
  @at-root #{&}_cropLineHeight#{&}_font_nunito {
    // convert to &_cropLineHeight.&_font_nunito, example: heading_cropLineHeight.heading__font_nunito . Make it possible to strictly apply styles when there are two classes
    $topCrop: 4;
    $bottomCrop: 5;
    $cropFontSize: 16;

    @include textCrop($cropFontSize, $topCrop, $bottomCrop);
  }

  @at-root #{&}_cropLineHeight#{&}_font_rubik {
    // in this case rubik and nunito has similar crop params, left as an example
    $topCrop: 4;
    $bottomCrop: 5;
    $cropFontSize: 16;

    @include textCrop($cropFontSize, $topCrop, $bottomCrop);
  }
}

.heading {
  @include align;
  @include colors;
  @include transform;
  @include fonts;
  @include cropLineHeight;

  margin: 0;
  line-height: 1.3;

  &_lvl {
    &_1 {
      font-size: clamp(3.4331rem, 2.529rem + 4.5207vw, 6.0325rem);
      font-weight: 300;
    }

    &_2 {
      font-size: clamp(2.7469rem, 2.1706rem + 2.8815vw, 4.4037rem);
      font-weight: 300;
    }

    &_3 {
      font-size: clamp(2.1975rem, 1.8438rem + 1.7685vw, 3.2144rem);
      font-weight: 300;
    }

    &_4 {
      font-size: clamp(1.7581rem, 1.5536rem + 1.0228vw, 2.3463rem);
      font-weight: 400;
    }

    &_5 {
      font-size: clamp(1.4063rem, 1.2997rem + 0.5326vw, 1.7125rem);
      font-weight: 400;
    }

    &_6 {
      font-size: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
      font-weight: 500;
    }
  }
}

.subHeading {
  @include align;
  @include colors;
  @include transform;
  @include fonts;
  @include cropLineHeight;

  margin: 0;
  line-height: 1.3;

  &_variant {
    &_primary {
      font-size: clamp(1.4063rem, 1.2997rem + 0.5326vw, 1.7125rem);
      font-weight: 300;
    }

    &_secondary {
      font-size: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
      font-weight: 600;
    }
  }
}

.body {
  @include align;
  @include colors;
  @include transform;
  @include fonts;
  @include cropLineHeight;

  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
}
